.calculator{
    height: 360px;
    width: 280px;
    background-color: grey;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #777;
}
.main-bar{
   margin-bottom: 10px;
   text-align: right;
}
.btn{
   font-size: 20px;
   cursor: pointer;
   width: 61px;
}
.line{
    margin-bottom: 10px;
}
.last input{
    width: 125px;
}
#inputBold{
    font-style: 23px;
    font-weight: bold;
}
h1{
    margin-top: 10px;
    color: tomato;
}